
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets\images\img1.jpg" height="60px" width="90px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <a class="nav-item nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Options</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/books" [queryParams]="{searchText: 'Harry Potter', startIndex: 0, maxResults: 8}" routerLinkActive="active" (click)="change1()">Harry Potter Books</a>
            <a class="dropdown-item" routerLink="/books" [queryParams]="{searchText: 'Agatha Christie', startIndex: 0, maxResults: 8}" routerLinkActive="active" (click)="change1()">Books by Agatha Christie</a>
            <a class="dropdown-item" routerLink="/books" [queryParams]="{searchText: 'Pramchand', startIndex: 0, maxResults: 8}" routerLinkActive="active" (click)="change1()">Books by Pramchand</a>
            <a class="dropdown-item" routerLink="/books" [queryParams]="{searchText:' Love Stories by Jane', startIndex: 0, maxResults: 8}" routerLinkActive="active" (click)="change1()">Love Stories by Jane</a>
            <a class="dropdown-item" routerLink="/books" [queryParams]="{searchText: 'Biography on Lincoln', startIndex: 0, maxResults: 8}" routerLinkActive="active" (click)="change1()">Biography on Lincoln</a>
          </div>
    </div>
  </nav>

<div *ngIf="is == 0">
    <div class="row m-5">
      <div class="col-12 text-center">
        <img class="imgll" src="assets\images\img2.jpg">
      </div>
    </div>
    <div class="row ">
      <div class="col-10">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="searchValue" aria-label="Search">
      </div>
      <div class="col-2">
        <button class="btn btn-primary my-2 my-sm-0" (click)="getSearchValue()">Search</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

