<div *ngIf="is == 0"></div>
<div  class="" *ngIf="is == 1">
  <div class="row marrgin">
    <div class="col-3">
      <div class="row border lang">
        <h5 class="col-12 lang">Langguage</h5>
        <div class="col-12 border" *ngFor="let item of languageStructure.language" >
          <input type="radio" id="{{item.value1}}" name="namesRadioGroup" value="{{item.value1}}"
          checked ="item.value1===languageStructure.selected"
          [(ngModel)]="languageStructure.selected" (change)="emitlanguage()"/> {{item.lang}}
        </div>
      </div>
      <hr>
      <div class="row border marrgin">
        <h5 class="col-12 lang ">Filter</h5>
        <div class="col-12 border" *ngFor="let item of filterStructure.filter" >
          <input type="radio" id="{{item.value1}}" name="namesRadioGroup" value="{{item.value1}}"
          checked ="item.value1===filterStructure.selected"
          [(ngModel)]="filterStructure.selected" (change)="emitfilter()"/> {{item.filter}}
        </div>
      </div>
    </div>
    <div class="col-9 ">
      <div class="row"><h3 class=" col-12 text-warning  text-center">All Books</h3></div>
      <div class="row"><h6 class=" col-12 text-success">{{startIndex+1}} to {{startIndex+8}} entries</h6></div>
      <div class="row">
        <div class="col-3 bg-success border" *ngFor="let a1 of getUrlValue">
          <div class="col-12 text-center" *ngIf="a1.volumeInfo.imageLinks !== undefined">
            <img src="{{a1.volumeInfo.imageLinks.thumbnail}}">
          </div>
          <div class="col-12 text-center" *ngIf="a1.volumeInfo.imageLinks == undefined">
            <h4>Image Not Available</h4>
          </div>
          <div class="col-12 text-center">
             <h6 class="">{{a1.volumeInfo.title}}</h6>
             <p class="">{{a1.volumeInfo.authors}}</p>
             <p class="">{{a1.volumeInfo.categories}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button *ngIf="startIndex > 0" class="btn btn-warning text-light" (click)="getpage(-8)">Prev</button>
        </div>
        <div class="col-6 text-right">
          <button *ngIf="startIndex < max" class="btn btn-warning text-light" (click)="getpage(+8)">next</button>
        </div>
      </div>
    </div>
  </div>

</div>
